//colors
$player-blue-color: #0093e9;
$player-aqua-color: #80d0c7;
$player-deep-color: #003f63;
$white: #ffffff;
$black: #000000;
$player-deep-gray: #3b3d50;
$player-shadow-gray: #656565;

//gradients
$mainGradient: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
