//colors
$player-blue-color: #0093e9;
$player-aqua-color: #80d0c7;
$player-deep-color: #003f63;
$white: #ffffff;
$black: #000000;
$player-deep-gray: #3b3d50;
$player-shadow-gray: #656565;
$player-light-gray: #d4d4d4;

//gradients
$mainGradient: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
$main-shadow: 0 30px 60px #2179ac;

//font -sizes
$fs-mini: 0.7rem;
