button {
  background-color: transparent;
  border: 0;
  width: 4.5rem;
  margin-right: 1rem;
  height: 80%;
  cursor: pointer;
  @include respond(tab-port) {
    width: 6rem;
    margin-right: 0.5rem;
  }
  svg {
    fill: $player-deep-color;
    width: 1.8rem;
    height: 1.8rem;
  }
  &:hover {
    background-color: $player-blue-color;
    @include transition(background-color 400ms linear);
    @include respond(tab-port) {
      background-color: transparent;
    }
    svg {
      fill: $white;
      @include respond(tab-port) {
        fill: $player-deep-color;
      }
      @include transition(background-color 400ms linear);
    }
  }
}
